<ul class="list-group list-group-horizontal rounded-0 bg-transparent">

   <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
    <div class="form-check">
      <input
          class="form-check-input me-0"
          type="checkbox"
          value=""
          id="flexCheckChecked1"
          aria-label="..."
          [checked]="todo.isCompleted"
          (click)="completeTodo(todo.id)"
      />
      <!-- <input
          class="form-check-input me-0"
          type="checkbox"
          value=""
          id="flexCheckChecked1"
          aria-label="..."
          [(ngModel)]="todo.completed" 
    /> -->
    </div>
  </li>
  <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
    <p [ngStyle]="{'text-decoration' :todo.isCompleted ? 'line-through':'none' }" class="lead fw-normal mb-0">{{todo.todo}}</p>
  </li>
  <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
    <div class="d-flex flex-row justify-content-end mb-1">
      <a  (click)="addToFavourite(todo.id)" data-mdb-toggle="tooltip" title="Favourite todo"><i *ngIf="!todo.isFavourite" class="fa-solid fa-heart fa-bounce" style="color: #832a2a;"></i></a>
      <a (click)="deleteTodo(todo.id)" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i class="fa fa-trash-o fa-lg"></i></a>

    </div>
  </li>
</ul>
