<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <form [formGroup]="myform" class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Please enter your Name , Email and password!</p>
  
                <div class="form-outline form-white mb-4">
                    <label class="form-label"  for="typeEmailX">Name</label>
                    <input type="text"  formControlName="name"  class="form-control form-control-lg" placeholder="Name" />
                    <p class="bg-danger" *ngIf="myform.get('name')?.touched && myform.get('name')?.errors?.['required']">Name is required</p>
                  </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label"  for="typeEmailX">Eamil</label>
                  <input type="email"  formControlName="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" />
                  <p class="bg-danger" *ngIf="myform.get('email')?.touched && myform.get('email')?.errors?.['required']">email is required</p>
                  <p class="bg-danger" *ngIf="myform.get('email')?.touched && myform.get('email')?.errors?.['email']">email Invalid</p>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input type="password" formControlName="password" id="typeQuoteX" class="form-control form-control-lg" placeholder="Password" />
                  <p class="bg-danger" *ngIf="myform.get('password')?.touched && myform.get('password')?.errors?.['required']">password is required</p>
                </div>
  
  
                <button (click)="onRegister()" class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
  
              </form>
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>